@charset "utf-8"

* {
    box-sizing: border-box;
}

html {
    font-size: 10px;
/*  font-size:62.5%  */
}

body {
    max-width: 100%;
    min-width: 100%;
    font-family: "Pathway Extreme", serif;
    background-color: #FEFAF7;
}

header {
    max-width: 1500px;
    min-width: 500px;
    background-color: #cda16f;
}

.header-wrapper {
    height: 50px;
    display: flex;
/*  align-itmes: center;*/
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;     
}

header img {
    margin-left: 10px;
    width: 40px;
    display: table-cell;
}

header .burger-nav {
    margin: 0 0 0 auto;
}

ul, 
.header-nav1 {
    display: flex;
}

ul, 
.header-nav1 {
    clear: both;
}

.header-nav1 ul {
    gap: 20px;
    align-items: center;
}

/*
.parent {
    position: relative;
    border: 1px solid;
}
*/

.burger-icon {
    display: none;
}

.burger-icon.is-active {
    display: inline;
    padding: 10px 20px;
    border-radius: 8px;
    position: relative;
}

.parent {
    position: relative;
}

.burger-close-icon {
    color: #fff;
    position: absolute;
    top: 10px;
    left: 1004px;
    padding: 3.5px 7.5px;
    border-radius: 100%;
    /*  border-radius: 15px*/
    display: none;
}


/*.burger-icon.is-active {
    display: inline;
}
*/

.burger-icon.is-active, 
.burger-close-icon {
    font-size: 2rem;
    margin-right: 10px;
    margin-left: 40px;
    cursor: pointer;
    z-index: 2;
}

.burger-icon.is-active:hover, 
.burger-close-icon:hover {
    background-color: #ddd;
}

/*
.burger-close-icon {
    color: #fff;
    position: absolute;
    top: 1px;
    left: 61px;
}
*/

.burger-menu {
    width: 100vw;
    height: 100vh;
    color: white;
    background-color: black;
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

.list-nav-header {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.list-nav-header a {
    font-size: 1.2rem;
    display: block;
    margin-bottom: 10px;
}

.is-active {
    display: inline;
}

.burger-menu.is-active {
    display: flex;
}

button {
-webkit-appearance: none;
-moz-appearance: none;
appearance: none;
}